*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: large;
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: -230px;
}

.calcAba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 50px;
    background-color: rgba(138, 128, 128, 0.2);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.calcPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    border: 3px solid #bbb;
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.calcExibir{
    left: 0 !important;
    transition: 0.3s ease;


}

.div_nome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 220px;
}

/* Display */

.display{
    width: 220px;
    background-color: lightgreen;
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: 20px;
}

.div_teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    flex-wrap: wrap;
}



.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border: 3px solid #888;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius:50px;
    margin: 2px; 
}

.tecla_Operacao{
    background-color: #f44!important;
    border-color: #800 !important;
}